* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Bebas Neue", cursive;
}

.flag {
    width: 30px
}

.stars {
    color: gold;
}



@import "@fontsource/bebas-neue";